.brix{
	margin-top:50px;
}
.brixN{
	
}
.brixD{
	
}
.brixP{
	
}
.brixN>a{
	color:red;
}
.brixD>a{
	color:black;
}
.brixP>a{
	color:green;
}
#interImg{
	display:none;
}
#prevv{
	width:170px;
	color: #fff;
	text-decoration: none;
	user-select: none;
	background: rgb(212,75,56);
	padding: .7em 1.5em;
	outline: none;
}
span{
	color:red;
}